<header class="site-header">
    <img src="../../../assets/favicon.png" class="site-logo">
    <span class="site-title">TaskTracker</span>
    <details class="details-overlay details-reset">
        <summary class="header-link">
            <img src="../../../assets/images/default-user.png" class="nav-user-avatar">
        </summary>
        <div class="dropdown">
            <div class="dropdown-header">
                <a class="user-profile-link">
                    Signed in as<br>
                    <strong>Nippleduck</strong>
                </a>
            </div>
            <div class="dropdown-divider"></div>
            <div class="user-status-container">
                <span class="user-status">Manager</span>
            </div>
            <div class="dropdown-divider"></div>
            <div class="dropdown-item"><a>Profile</a></div>
            <div class="dropdown-item"><a>Projects</a></div>
            <div class="dropdown-item"><a>Log out</a></div>
        </div>
    </details>
</header>