.task-wrapper{
    margin: 5px;
    background-color: #f1f8ff;
}

.task-wrapper:hover{
    background-color: #e2e7ec;
    cursor: pointer;
}

.box{
    //background-color: #fff;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}

.header{
    margin: 3px;
    flex: auto;
    margin-left: 10px;
}

.task-title{
    vertical-align: middle;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.task-status{
    font-size: 15px;
    margin-left: 5px;
}

.label{
    vertical-align: middle;
    display: inline-block;
    padding: 0 7px;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    border-radius: 2em;
    background-color: blue; //initial!important;
    border: 1px solid #e1e4e8;
}

.label-outline{
    color: white;//#586069;
    border-color: #e1e4e8;
}

.description-container{
    margin-left: 10px;
}

.task-description{
    color: #586069!important;
    margin-bottom: 8px!important;
}

.header{
    display: flex!important;
    box-sizing: border-box;
}

.title-container{
    flex: auto!important;
    box-sizing: border-box;
    display: block;
    width: 60.66667%;
}

.date-container{
    flex: auto!important;
    box-sizing: border-box;
    display: block;
    width: 15.66667%;
    margin-left: 10px;
    margin-right: 20px;
}

.date{
    justify-content: center;
    width: 100%;
    background-color: honeydew;
}

.date-icon{
    vertical-align: text-bottom;
    size: 10px;
    opacity: 0.7;
}


.date-text{
    vertical-align: text-bottom;
    display: inline-block;
    margin-left: 20px;

    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    opacity: 0.7;
}

@media only screen and (max-width: 1168px){
    .date-text{
        margin-left: 10px;
    }
}

.executor-container{
    flex: auto!important;
    box-sizing: border-box;
    display: block;
}

.executor{
    text-align: right;
    margin-right: 20px;
}


.user-avatar{
    border-radius: 50%!important;
    width: 35px;
    height: 35px;
}

.info-wrapper{
    padding: 5px 16px;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    border: 1px solid #e1e4e8;
    border-radius: 6px;
}

*{
    box-sizing: border-box;
}