<div class="task-wrapper box">
    <div class="header">
        <div class="title-container">
            <h1 class="title-wrapper">
                <span class="task-title">
                 <a style="border-bottom: 1px solid #e1e4e8">{{task.title}}</a>
                </span>
                <span class="task-status label label-outline">
                 <a>In progress</a>
                </span> 
             </h1>
        </div>
        <div class="date-container">
            <div class="info-wrapper date">
                <a class="">
                    <mat-icon class="date-icon">today</mat-icon>
                    <span class="date-text">21.05.19</span>
                </a>
            </div>
        </div>
        <div class="executor-container">
            <div class="executor">
                <img src="../../../assets/images/avatar.png"  class="user-avatar">
            </div>
        </div>
    </div>
    <div class="description-container">
        <p class="task-description">{{task.title}}</p>
    </div>
</div>
